<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appender name="project" class="ch.qos.logback.core.FileAppender">
        <file>project.log</file>
        <encoding>utf-8</encoding>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>project.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                <![CDATA[
                %n%-4r [%d{yyyy-MM-dd HH:mm:ss}] %X{productMode} - %X{method} -%m%n
            ]]>
            </pattern>
        </layout>
    </appender>

    <appender name="asyncProject" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="project"/>
    </appender>

    <logger name="project_logger" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="asyncProject"/>
    </logger>
</configuration>